body {
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
}

.navbar-brand {
    color: #FEDD55 !important;
}

.btn-warning {
    padding: 8px 24px !important;
    color: #222;
}

.btn-warning:hover {
    background-color: #FEDD55 !important;
}

#main-header {
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 700px;
}

.hero-text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

#about p {
    width: 80%;
    margin: 0 auto;
}

#services h5 {
    font-weight: 700;
}

#portfolio p {
    width: 70%;
    margin: 0 auto;
}

#testimonial {
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../img/testimonial_bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 400px;
}

#contact form {
    width: 80%;
    margin: 0 auto;
}

#main-footer {
    background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../img/footer_bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 400px;
}
